body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 1px;
}

.title {
  background: #e3f4ff;
  padding: 16px;
  margin: 16px;
}

.content {
  background: #e3f4ff;
  padding: 16px;
  margin: 16px;
  font-size: 16px;
}

.button-container {
  background: #e3f4ff;
  padding: 16px;
  margin: 16px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 16px;
  margin: 16px;
  tex
}